body {
    background: linear-gradient(to left, #add8e6, #8ce99a);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#appHeader {
    background: linear-gradient(to right, #4a90e2, #66d39e);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-weight: bold;
}

.header-content {
    max-width: 600px;
    margin: 0 auto;
}

button, select {
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    opacity: 0.7;
}

button, select {
    font-family: Arial, sans-serif;
}

table {
    width: 80%;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.9);
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Define your task status colors */
td select option[value="todo"] {
    color: #333;
}
td select option[value="inprogress"] {
    color: orange !important;
}
td select option[value="complete"] {
    color: green !important;
}

table {
    width: 80%;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.7);
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #333;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #333;
    color: #fff;
}

#addTaskButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#addTaskButton:hover {
    background-color: #555;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    background-color: #fff;
    margin: 20% auto;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    position: relative;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
}

#newTask, #saveTask {
    padding: 10px;
    margin: 10px;
    width: 70%;
}

#saveTask {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#saveTask:hover {
    background-color: #555;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    background-color: #fff;
    margin: 20% auto;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    position: relative;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
}

#editTaskName, #saveEditedTask {
    padding: 10px;
    margin: 10px;
    width: 70%;
}

#saveEditedTask {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#saveEditedTask:hover {
    background-color: #555;
}
